section {
	margin-top: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
body {
	background-color: #eee;
}
.card {
	
}
.card-header {
	height: 241px;
}
.title {
	color: black;
	font-size: 1em;
}
img {
	margin-top: 5px;
	width: 140px;
	height: 140px;
}
.box {
	margin: 4px;
	width: 150px;
	height: 241px;
	background-color: #ffff;
}